@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Mulish', sans-serif;
    background-color: #161c2a;
    color: #fff;
}

.container {
    max-width: 100%;
    padding: 4rem 1rem 4rem 1rem;
}

.main-today-weather {
    outline: 1px solid white;
    border-radius: 1.5rem;
    padding: 2rem;
}

.today-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.weather-temp {
    /* outline: 1px solid white; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.temp-value-unit {
    /* outline: 1px solid white; */
    display: flex;
    margin-right: 2rem;
}

.temp-value {
    margin-right: 0.5rem;
    font-size: 3.4rem;
}

.temp-unit {
    margin-top: .6rem;
    font-size: 1.8rem;
    color: #f3c112;
}

.weather-icon img {
    /* outline: 1px solid black; */
    max-width: 100%;
}

.location {
    display: flex;
    align-items: center;
}

.location img {
    max-width: 20px;
    margin-right: 0.5rem;
}
