@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: monospace;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* background-color: rgb(26, 34, 39); */
    font-family: 'Nunito', sans-serif;
    color: #000;
}

.container {
    max-width: 100%;
    padding: 2.5rem 1.5rem 4rem 1.5rem;
}

.location{
    /* outline: 1px solid black; */
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #717171;
}

.weather-icon {
    outline: 1px solid black;
}

.main img {
    transform: scale(5);
}

#date {
    font-size: 0.8rem;
    color: #a1a1a1
}

.icon-temp {
    /* outline: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    /* outline: 1px solid black; */
    text-align: center;
    margin-right: 0.5rem;
}

.icon img {
    max-width: 50px;
}

.temp {
    /* outline: 1px solid black; */
    text-align: center;
    /* margin-left: 0.5rem; */

}

.temp .temp-value {
    font-size: 6rem;
    color: rgb(247, 191, 39);
}

.temp .temp-condition {
    font-size: 1.05rem;
}

.weather-details {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 1rem 0;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column:first-child {
    margin-bottom: 1rem;
}

.column .value {
    margin-bottom: 0.2rem;
}

.column .value-text {
    font-size: 0.8rem;
}

.day-column-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-day-title {
    margin-bottom: 1rem;
}

.day-column {
    /* outline: 1px solid black; */
    border-radius: 0.2rem;
    padding: 0.8rem 0;
    max-width: 17%;
    text-align: center;
    font-size: 0.8rem;
    background-color: rgba(73, 72, 72, 0.171);
}